body{font-family: Arial, Helvetica, sans-serif;
background-image: url(IMG/pattern.png);
}
#logo{
    display: block;
    width: 140px;
    height: 130px;
    border-radius: 180px;
    position: relative;
    margin-left: 45%;
}
.titulo{
    width: 95%;
    border: 10px solid rgb(0, 0, 0);
    height: 100px;
    color: rgb(0, 0, 0);
    margin: 20px auto;
    box-shadow: 0px 0px 6px black;
    text-align:center;
    text-decoration: underline;
}

.subtitulos{
    margin-left: 5px;
    border: 1px solid black;
    background-color: #ccc;
    width: 51.5%;

}
.presentacion{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}
#caja > ul li{
    width: 50%;
    margin-bottom: 20px;
}
#caja{
    border: 2px solid black;
    box-shadow: 0px 0px 4px black;
    margin-bottom: 20px;
    background-color: #eee
    
}
h3{
    margin-left: 10px;
}
a{
    color: rgb(34, 92, 168);
}
a:hover{
    color: blue;
    cursor: pointer;
}
.presentacion p{
    color:red;
}